<h3> Tournament </h3>
<br>
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">No</th>
            <th style="width: 13%;text-align: center;">Playing Date</th>
            <th style="width: 13%;text-align: center;">Home Team</th>
            <th style="width: 18%;text-align: center;">Away Team</th>
            <th style="width: 13%;text-align: center;">Ref Name</th>
            <th style="width: 18%;text-align: center;">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">1</th>
            <th style="width: 13%;text-align: center;">2041/08/10</th>
            <th style="width: 13%;text-align: center;">Persija</th>
            <th style="width: 18%;text-align: center;">Persib</th>
            <th style="width: 13%;text-align: center;">Jeon</th>
            <th style="width: 18%;text-align: center;">Pertandingan Overtime</th>
        </tr>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">2</th>
            <th style="width: 13%;text-align: center;">2041/08/11</th>
            <th style="width: 13%;text-align: center;">Persib</th>
            <th style="width: 18%;text-align: center;">Persipon</th>
            <th style="width: 13%;text-align: center;">John</th>
            <th style="width: 18%;text-align: center;">Pertandingan Ontime</th>
        </tr>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">3</th>
            <th style="width: 13%;text-align: center;">2041/09/21</th>
            <th style="width: 13%;text-align: center;">Persipon</th>
            <th style="width: 18%;text-align: center;">Persija</th>
            <th style="width: 13%;text-align: center;">Jo</th>
            <th style="width: 18%;text-align: center;">Pertandingan Undertime</th>
        </tr>
    </tbody>
</Table>