<h3> Profile </h3>
<br>
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 13%;text-align: center;">Username</th>
            <th style="width: 13%;text-align: center;">Nama</th>
            <th style="width: 18%;text-align: center;">Jenis Kelamin</th>
            <th style="width: 18%;text-align: center;">Kota</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 13%;text-align: center;">bbb1234</th>
            <th style="width: 13%;text-align: center;">F1</th>
            <th style="width: 18%;text-align: center;">Laki-laki</th>
            <th style="width: 18%;text-align: center;">Seoul</th>
        </tr>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 13%;text-align: center;">ddd1234</th>
            <th style="width: 13%;text-align: center;">Vante</th>
            <th style="width: 18%;text-align: center;">Laki-laki</th>
            <th style="width: 18%;text-align: center;">Daegu</th>
        </tr>
    </tbody>
</Table>